.result-page{
  background-color: #8AAAE5;
  height: 100vh; /* Full viewport height */
  align-items: center; /* Center items horizontally */
  margin: 0;
}

.news-title{
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5px; /* Space below the title */
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Change to your desired font */
  font-size: 4rem;
}

.news-author{
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px; /* Space below the title */
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Change to your desired font */
  font-size: 2rem;
}

.news-summary{
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5px; /* Space below the title */
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Change to your desired font */
  font-size: 2rem;
}

.nav-button{
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  align-items: center;
  background-color: #5b7fc0; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px; /* Add padding for button size */
  margin: 5px;
}

.attempt-button{
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  align-items: right;
  background-color: #5b7fc0; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px; /* Add padding for button size */
  margin: 5px;
}

.message{
  font-size: 16px;
  color: #ef918e
}

.loading{
  background-color: #8AAAE5;
  height: 100vh;
  text-align: center;
}